@{
    ViewData["Title"] = "Suspects";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>

<p>Use this page to edit or add suspects.</p>



    <label>Name</label>
    <input class="name" /><br />
    <label>Description</label>
    <input class="description" /><br />
    <label>Weapons</label>
    <input class="weapons" /><br />
    <label>Clues</label>
    <input class="clues" /><br />
    <button style="width: 150px; height: 25px; font-weight:bold;" onclick="">Add new suspect</button>


